<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e4324d4c-6ed1-45ca-a4dc-523ce6b0591d/resourceGroups/apg-analyzer-beta/providers/Microsoft.Web/sites/apg-analyzer-beta-pmtac</ResourceId>
    <ResourceGroup>apg-analyzer-beta</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apg-analyzer-beta-pmtac-d0dmanfygtded5gx.centralus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>aa8df63b-c5a9-4059-ed74-543b7c8fd5c8</ProjectGuid>
    <PublishUrl>https://apg-analyzer-beta-pmtac-d0dmanfygtded5gx.scm.centralus-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>